@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Geologica';
	src: url('/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf');
}

@layer base {
	.bg-dots-straight {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f26bb5' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
	}

	.side-nav > *:where(.active) {
		border-right-width: 2px;
		--tw-bg-opacity: 1;
		background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
		border-color: currentColor;
	}
}
